{% extends "layout.njk" %}

{% block head %}
    <title>Sorry! - BootCamp LaunchBase</title>   
{% endblock %}

{% block content %}
    <div id="wrapper">
        <h1>OPS! Ocorreu um erro.</h1>
        <h2>Infelizmente não encontramos a página solicitada</h2>
    </div>
{% endblock %}