<html>
    <head>
        
        <link href="/style.css" rel="stylesheet">

        {% block head %}
            
            <title>GYM Manager</title>
        
        {% endblock %}

    </head>
    <body>
        <header>

            <div class="links">
                <a href="/members">Members</a>
                <a href="/instructors">Instructors</a>
            </div>
            
        </header>

        {% block content %}{% endblock %}

        <script src="/scripts.js"></script>
        
    </body>
</html>